body {
    font-family: "Josefin Sans", sans-serif;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/1e79a561645499.5aa5558789b4d.jpg');
    margin: 0;
    padding: 20px;
    text-align: center;
}

.titulo {
    background-color: rgba(96, 197, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.titulo h1 {
    font-weight: 1000;
    color: rgb(85, 74, 235);
    font-size: 60px;
    font-family: "Fantasy", copperplate;
}

.titulo p {
    color: rgb(244, 236, 255);
    font-size: 20px;
    font-family: "Josefin Sans", copperplate;
}

.principal {
    background-color: #62f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}

.opciones-mascota {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #68e3ff; /* Color de fondo de las opciones */
    border: 1px solid #b5ffee;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
}

.dragon {
    font-weight: bold;
    font-size: small;
    background-color: #fff27a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
    width: 115px;
    height: 160px;
}	

#alerta-adopcion {
    background-color: rgba(255, 255, 255, 0.527);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}

#formulario-adopcion {
    background-color: #ffffff92;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}

#mascota-adoptada {
    background-color: #ffffff87;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}

.oculto {
    display: none;
}

.visible {
    display: block;
}

.formulario-seccion {
    margin-top: 20px;
}

.lista-mascotas {
    display: block;
    background-color:rgb(146, 226, 255);
    margin-top: 20px;
    padding: 1px;   
    text-align: center;
    text-transform: uppercase;
    border-radius: 1em;
}

#lista-mascotas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mascota {
    background-color: #ffffff9a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#detalles-ver-mascota {
    background-color: #a1e3ff9a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.lista-mascotas-item {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #88b2ff;
    border-radius: 5px;
    width: 200px;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.lista-mascotas-item:hover {
    background-color: #fff36e;
}

.detalles-mascota {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ff9fc4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-mascota {
    width: 90px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color:#88b2ff;
    color: aliceblue;
    border-radius: 2em; 
    display: inline-block;
    text-transform: uppercase;
}
input {
    background-color: #88b2ff;
}
.lista-mascotas h2 {
    padding-top: 20px;
}

.granja {
    background-color: #b2d9f468;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}

.recoleccion-tomates {
    background-color: #79c7ff9e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}

.granja-tomates {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/65db5761645499.5a74d1b1d6679.jpg');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(46, 5, 28, 0.947);
}